# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
/npm-debug.log
build/
out/
scripts/tsgen/test/bin/
scripts/tsgen/test/output.txt

plugins/spine/spine-runtimes/

public/part1.html
public/part2.html
public/part3.html
public/part4.html
public/part5.html
public/part6.html
public/part7.html
public/part8.html
public/part9.html
public/part10.html